body {
  font-family: Arial, sans-serif;
  background-color: rgb(48, 48, 56);
  margin: 0;
  padding: 0;
  height: 860px;
}
#calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 0;
}
#options{
  color: white;
  text-align: center;
}
.current-month {
  background-color: #eee;
}

.today {
  background-color: #aaf;
}
#month{
display: grid;
grid-template-columns: repeat(7, 1fr); /* 7 columnas iguales */
gap: 20px;
width: 70%;
text-align: center;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 10px;
background-color: rgb(206, 206, 206);
color: rgb(0, 0, 0);
padding-left: 30px;
padding-right: 30px;
border-radius: 10px;
row-gap: 10px;
height: 450px;
} 

#monthName{
font-size: 15px;
grid-column: span 7;
margin-top: 20px;
margin-bottom: 0;
}
#season{
color: white;
text-align: center;
}
#date{
color: white;
}
.current-day{
background-color: red;
border-radius: 30px;
padding-top: 3px;
margin-top: -3px;
height: 70%;
}
.button{
  display: inline-block;
    background-color: rgb(3, 186, 0);
    width: 190px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
.button:hover{
  background-color: white;
  color: black;
  transform: scale(1.07); /* Escala el div al 120% del tamaño original */
}
#monthNav{
  display: flex;
    justify-content: space-between;
    bottom: 0;
    text-align: center;
}
#previousMonth{
  margin-left: 230px;
}
#nextMonth{
  margin-right: 230px;
}
#addRoutine{
  margin-left: 200px;
}
#delete{
  margin-right: 200px;
}
#buttons2{
  text-align: center;
  justify-content: center;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    text-align: center;
}
#dayNumb{
  width: 30px;
  height: 5px;
  padding: 5px;
  padding-bottom: 12px;
}
#days{
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin-left: 42px;
}
.occuped{
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 3px solid;
    
}
.dayZero{
  color: rgb(206, 206, 206);
}
.selectedDay{
  background-color: grey;
}

#dayNumb{
  width: 30px;
  height: 5px;
  padding: 5px;
  padding-bottom: 12px;
}
.borderCircle{
  border-radius: 30px;

}
.infoAux{
  font-size: 14px;
  color: white;
  margin-top: 20px;
  z-index: 999;
}
#info2{
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
}
#info{
  display: inline-block;
}
#daysAndName{
  margin-left: 20px;
}
#green{
  text-align: center;
  width: 15px;
  height: 15px;position: absolute;
  margin-top: 2px;
}
#infoMessage{
  position: absolute;
  margin-top: 25px;
  font-size: 14px;
  margin-left: 10px;
  color: white;
}
#routineName{
  cursor: pointer;
}
#routineName:hover{
  color: rgb(170, 226, 0);
}
#deleteRoutine{
  margin-top: 0px;
  text-align: center;
  background-color: rgb(48, 48, 56);
  color: black;
  width: 506px;
  margin-left: 33%;
  background-color: rgb(195, 195, 195);
  padding: 10px;
  border-radius: 10px;
  max-width: 506px;
}
#selectDelete{
  font-size: 30px;
  width: fit-content;
}
#routinesToDelete{
  width: fit-content;
  display: inline-block;
}
#routineDeleteName{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
#routineDeleteName:hover{
  color: green;
}
#buttonDelete{
  position: static;
  font-size: 15px;
  width: 100px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  margin-left: 20px;
}
.selectedRoutine{
  color: blue;
  cursor: pointer;
}