<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitHub</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div id="notLogged">
    <app-nav-bar id="navBar"></app-nav-bar>
    <h1 id="welcome-message">Welcome to FitHub</h1>
    <div id="video-presentation">
      <video controls autoplay muted src="../../assets/workout video.mp4" type="video/mp4"></video>
    </div>
    <div id="presentation">
      <div id="first-presentation">
        <h2>Welcome to FitHub – Your Ultimate Fitness Hub!</h2>
        <p>Embark on a transformative fitness journey with FitHub, the premier online destination for all your training needs. At FitHub, we empower you to take control of your fitness routine by providing a comprehensive platform to create personalized workout routines, visualize exercises, and seamlessly integrate them into your daily regimen.</p>
      </div>
      <div id="Feature">
        <h3>Key Features:</h3>
        <div id="List">
          <ol>
            <li class="Feature-name">Customized Workouts:</li>
            <p class="Features-description">Tailor your fitness experience by crafting personalized workout routines that cater to your unique goals and preferences. Our intuitive interface makes it easy to create, edit, and track your progress.</p>
            <li class="Feature-name">Exercise Visualization:</li>
            <p class="Features-description">Dive into a vast library of exercises with step-by-step visualizations. Whether you're a seasoned pro or a beginner, our detailed guides ensure you perform each exercise with precision and confidence.</p>
            <li class="Feature-name" >BMI Calculator:</li>
            <p class="Features-description" >Monitor your fitness journey with our Body Mass Index (BMI) calculator. Understand your body composition and track changes over time to stay motivated and informed about your progress.</p>
            <li class="Feature-name">Trending Exercises:</li>
            <p class="Features-description">Stay ahead of the fitness curve by exploring our curated list of trending exercises. Discover the latest workout trends, incorporate them into your routine, and keep your workouts fresh and exciting.</p>
          </ol>
        </div>
      </div>
    </div>
    <app-footer id="footerNotLogged"></app-footer>
  </div>
  <div id="logged" style="display: none;">
    <app-nav-bar-logged></app-nav-bar-logged>
    <br><br><br>
    <div id="divInfo">

      <div id="userInfo" class="miniBar" (click)="changeWindow('specificInfoUser')">
        <div id="userImage"></div>
        <h1 id="userName"></h1>
        <p id="routinesAmount"></p>
      </div>
      <img src="../../assets/Logo transparente.png" id="logoInfo" alt="">
      <div id="bmi" class="miniBar">
        <p id="bmiMessage" (click)="changeWindow('BMI')">Calculate your BMI here!</p>
      </div>

    </div>


    <div id="linksInfo">

      <div id="exerciseInfo" >
        <p id="exInfo">Watch the newest exercises on the site!</p>
        <div *ngFor="let exercise of getRandomExercises(3); let i=index;" class="exercise-item" (click)="changeExerciseWindow(exercise)">
          <h1 class="exercise-name"> {{exercise.getName()}}</h1>
        </div>
        
      </div>

      <div id="routinesInfo" (click)="changeWindow('routines')">
        <p id="routineInfo">Watch your routines to start work out!</p>
        <div *ngFor="let routine of routinesList; let i=index" class="routine-item" (click) = showRoutines()>
          <ng-container *ngIf="i < 3">
            <div class="each-Routine">
              <h1 class="routine-name"> {{routine.name}}</h1>
              <p class="routine-amountEX"> {{routine.excerciseList.length}} excercises!</p>
            </div>
        </ng-container>
        </div>
      </div>

    </div>
    <app-footer id="footer"></app-footer>
  </div>
</body>
</html>

